<div class="content profile-content">

	<% if flash.any? %>
		<div class="flash">
		<% flash.each do |key, value| %>
			<div><%= value %></div>
		<% end %>
		</div>
	<% end %>
	
	<div class="profile-menu">
		<div class="search-bar">
			Search:
			<input type="text">
		</div>
		<div class="find-adventure">Find adventure to join</div>
		<div class="create-adventure">Create adventure</div>
	</div> <!-- .profile-menu -->
	
	<div class="games<%= " empty" if @user.games_relationships.empty? %>">
	
	<% if @user.games_relationships.any? %>
	    <h2>Your adventures:</h2>
	    <ol class="game">
	        <%= render @games %>
	    </ol>
	    <%= will_paginate @games %>
	<% else %>
		You currently don't participate in any adventures.
	<% end %>
	
	</div> <!-- .games -->

</div> <!-- .content -->
