/*
 *= require_self
 *= require_tree .
 */

body {
	
	.header {
		height: 25px;
		
		.logo {
		  display: inline-block;
		}
		
		.account-links {
		  display: inline-block;
		  float: right;
		  
		  .updated { 
		    color: red 
		  }
		  
		  .friends {
		    position: absolute;
		    z-index: 5;
		    background: #cccccc;
		    
		    .accept, .decline {
		      cursor: pointer;
		    }
		  }
		}
		
	} // .header
	
	.content {
	  padding: 0 100px;
	} // .content
	
}