/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.game-header {

  .players-manager {
    width: 100%;
    text-align: right;
  } // .players-manager

} // .game-header

.game-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  .item {
    padding: 5px 0;
    margin: 3px;
    background: #999999;
    border-radius: 5px;
    border: 3px solid #333333;
    cursor: move;
    
    .item-name {
      display: inline-block;                  
    } // .item-name
    
    .item-menu {
      cursor: pointer;
      display: inline-block;
      float: right;
    } // .item-menu
  } // .item
  
  .gm-container {
    display: inline-block;
    width: 400px;
    min-height: 400px;
    margin: 20px 0 0 0;
    
    .gm-menu {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 0;
      
      .gm-add-category {
        display: inline-block;
        float: right;
      } // .gm-add-category
      
      .gm-add-item {
        display: inline-block;
        float: right;
      } // .gm-add-item
      
    } // .gm-menu
    
    .gm-game-categories {
      list-style: none;
      padding: 0;
      width: 100%;
      
      .category {
        border-top: 1px solid black;
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        
        .category-title {
          text-align: center;
        } // .category-title
        
        .category-items {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          padding: 5px 0 0 0;
          text-align: left;
          
        } // .category-items
        
        .category-items.empty {
          text-align: center;
          
          p {
            margin: 0;
          }
        } // .category-items.empty
        
      } // .category
      
    } // .gm-game-categories
    
    .gm-game-categories.empty {
      text-align: center;
      padding: 10px 0;
    } // .gm-game-categories.empty
    
  } // .gm-container
  
  .itemform-container {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    
    .itemform-close-button {
      width: 100%;
      text-align: right;
    }
    
    .itemform-title {
      width: 100%;
      text-align: center;
    }
    
    .itemform-form-container {
      
      label {
        
      }
      
      input {
        width: 337px;
      }
      
      textarea {
        resize: none;
        height: 100px;
      }
      
      .identified {
        
        input {
          width: 13px;
        }
        
        label {
          margin: 0;
        }
        
      } // .identified
      
      .submit {
        width: 100%;
        text-align: center;
      
        input[type="submit"] {
          width: auto;
        }
      
      }
      
    } // .itemform-form-container
    
  } // .itemform-container
  
  .inventory-container {
    display: inline-block;
    float: right;
    
    .inventory-identify {
      text-align: right;
    } // .inventory-identify
    
    .inventory {
      border: 1px solid black;
      width: 400px;
      padding: 0 0 20px 0;
      
      .inventory-player {
        border-top: 1px solid black;
        margin: 20px 0 0 0;
        
        .player-name {
          text-align: center;
        }
        
        .inventory-items {
          width: 90%;
          text-align: left;
          list-style: none;
          padding: 0;
          margin: 0 auto;
        } // .inventory-items
        
        .inventory-items.empty {
          text-align: center;
          padding: 10px 0 0 0;
          
          p {
            margin: 0;
            padding: 0;
          }
        } // .inventory-items.empty
        
      } // .inventory-player
      
    } // .inventory
    
    .inventory.empty {
      padding: 10px 0;
      text-align: center;
    } // .inventory.empty
    
  } // .inventory-container
  
} // .game-content 