.flash {
  border: 1px solid black;
  padding: 5px;
  margin: 0 0 10px 0;
}

.profile-menu {
  
  .search-bar {
    display: inline-block;
  } // .search-bar
  
  .find-adventure {
    display: inline-block;
    float: right;
  } // .find-adventure
  
  .create-adventure {
    display: inline-block;
    float: right;
  } // .create-adventure
  
} // .profile-menu

.games {
  
  .game {
  
    li {
    
      position: relative;
      
      a {
        
        display: block;
        color: #000000;
        text-decoration: none;
        z-index: 1;
        
        &:hover {
          background: rgba(100, 100, 100, 0.3);
        } // .game li a:hover
        
      } // .game li a
    
    } // .game li
  
  } // .game
    
} // .games

.games.empty {
  text-align: center;
  padding: 25px 0 0 0;
} // .games.empty