<div class="friends">
    <span class="close">Close</span>
    <% if @user && @friends.count > 0 %>
        <ul>
            <% @friends.each do |friend| %>
                <li>
                    <span class="name"><%= friend.name %></span>
                    
                    <!-- Show options depending on request -->
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>You have no friends :(</p>
    <% end %>
    
    <script>
        var interval = setInterval(function() {
            // refresh friends
        }, 1000);
        
        $(".close").click(function() {
            clearInterval(interval);
            $(".friends").empty();
        });
    </script>
    
</div>
